// Entry point for application specific styles
.background { background-color: rgb(0, 0, 0); }

// hide audio player
audio { 
   // display:none;
}

#mapholder{
    display:inline-block;
    width:500px;
    height:658px;
    // background-image:url('https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcS4UD6ZZqohIlOjUv5ibPKc57WRp6p73-BsEzBQ8qB5IWKH83JlKw');
    background-image:url('../images/stravinsky-plan.jpg');
    // background-size:100% 100%;
}